<div class ="banner-booking-index">
</div>
<br>
<br>
<br>
<%= link_to 'Back To Profile Page', user_path(@current_user), class: 'btn-back btn-nice-green text-decoration-none' %>
<!-- ADDING IN NEW HTML  -->
<div style="height: 100vh">
<div class="tabs">
  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab2" name="tab-control">
  <input type="radio" id="tab3" name="tab-control">
  <input type="radio" id="tab4" name="tab-control">
  <ul>
    <li title="Features"><label for="tab1" role="button"><br><span>Upcoming Bookings</span></label></li>
    <li title="Delivery Contents"><label for="tab2" role="button"><br><span>Completed bookings</span></label></li>
  </ul>

  <div class="slider">
    <div class="indicator">
    </div>
  </div>
    <div class="content">
      <section>
        <h2>Features</h2><% @upcoming_bookings.each do |booking| %>
        <div>
            <h4 class="individual-bookings-index"> <%= booking.user.first_name %> <%= booking.user.last_name %> <%= link_to 'booked', booking_path(booking), class: 'btn-outline' %> a <%= booking.lesson.instrument %> lesson with you on  <%= booking.start_date.in_time_zone('London').strftime("%A, %b %d") %> at <%= booking.start_date.in_time_zone('London').strftime("%I:%M %p") %> </h4>
        </div>
          <% end %>
      </section>
       <section>
        <h2>Delivery Contents</h2>
        <% @completed_bookings.each do |booking| %>
        <div>
          <h4 class="individual-bookings-index"> <%= booking.user.first_name %> <%= booking.user.last_name %> <%= link_to 'booked', booking_path(booking), class: 'btn-outline' %> a <%= booking.lesson.instrument %> lesson with you on <%= booking.start_date.in_time_zone('London').strftime("%A, %b %d") %> at <%= booking.start_date.in_time_zone('London').strftime("%I:%M %p") %> </h4>
        </div>
       <% end %>
     </section>
    </div>
 </div>
</div>
