
  <div class="container-show">

      <h1 class="name-of-person"> Welcome <%= current_user.first_name %> </h1>
      <div class="profile-card-info">

        <% current_user.photos.each do |photo| %>
          <div class="image-show">
            <%= cl_image_tag photo.key %>
          </div>
        <% end %>

        <div class="content-lesson-card">
          <h4 class="bio">Bio</h4>
          <p style="width: 400px"> <%= current_user.bio %> </p>
          <% current_user.classes.each do |classs| %>
            <div class="icon-image">
              <%= image_tag("icons/#{classs.instrument}.png") %>
            </div>
            <div>
              <p> £<%= classs.price %>0/hour </p>
              <p> <%= classs.level %> </p>
              <p> <%= classs.location %> </p>
            <% end %>
            <div>
              <div class="your-class-buttons-area">
                <% if current_user.teacher == true%>
                  <%= link_to 'View all your bookings for your classes', bookings_path, class: 'btn btn-nice-green'%>
                <% end %>
                <% if current_user.teacher == true%>
                  <a class="btn btn-nice-dark" href="/lessons/new"> Teach a new class</a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
<div class="col-4">
</div>
<div class="profile-page-bookings col-6 m-5">
  <div>
    <h3>Achievements</h3>
    <% current_user.milestones.each do |milestone| %>
      <% if milestone.name == 'five_bookings' %>
        <%= image_tag milestone.image, class: 'icon-badge-small' %>
      <% elsif milestone.name == 'one_booking' %>
        <%= image_tag milestone.image, class: 'icon-badge-small' %>
      <% elsif milestone.name == 'three_tasks' %>
        <%= image_tag milestone.image, class: 'icon-badge-small' %>
      <% elsif milestone.name == 'add_lesson' %>
        <%= image_tag milestone.image, class: 'icon-badge-small' %>
      <% end %>
    <% end %>
  </div>
  <div class="booking-box-user">
    <p> Your upcoming bookings: </p>
    <% @upcoming_bookings.each do |booking| %>
      <div>
        <% if booking.accepted || booking.accepted == nil %>
        <h5 class="individual-bookings-user"> <%= image_tag("icons/#{booking.lesson.instrument}.png") %> You booked a <%= link_to 'lesson', booking_path(booking), class: 'btn-outline' %> with <%= booking.lesson.user.first_name %> on <%= booking.start_date.strftime("%A, %b %d") %> at <%= booking.start_date.strftime("%I:%M %p") %> </h5>
        <% end %>
        <p></p>
      </div>
    <% end %>
  </div>
  <a class="btn btn-nice-dark" href="/lessons"> Book a new lesson </a>

  <div class="booking-box-user">
    <p> Your completed bookings: </p>
    <% @completed_bookings.each do |booking| %>
      <div>
        <h5 class="individual-bookings"> <%= image_tag("icons/#{booking.lesson.instrument}.png") %>  You completed a <%= link_to 'lesson', booking_path(booking), class: 'btn-outline' %> with <%= booking.lesson.user.first_name %>  </h5>
        <p></p>
      </div>
    <% end %>
  </div>
</div>
