<div class="container-user-show cover-photo-underlay">

</div>
<div class="cover-photo-spacer">

</div>
<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="profile-card-info-user-show">
        <% current_user.photos.each do |photo| %>
          <div class="image-user-show">
            <%= cl_image_tag photo.key %>
          </div>
        <% end %>

        <div class="content-lesson-card-user-show">
          <h4 class="bio">Bio</h4>
          <p> <%= current_user.bio %> </p>
          <div class="d-flex lesson-new">
          <% current_user.classes.each do |classs| %>
            <div class="lesson-content">
              <div class="icon-image">
                <%= image_tag("icons/#{classs.instrument}.png") %>
              </div>


                <p> £<%= classs.price %>0/hour</p>
                <p> <%= classs.level %> </p>
                <p> <%= classs.location %> </p>
            </div>


          <% end %>
          </div>
          <div class="">
            <% if current_user.teacher == true%>
              <div class="your-class-buttons-area">
                <%= link_to 'View all your bookings for your classes', bookings_path, class: 'btn btn-nice-green'%>
                <a class="btn btn-nice-dark" href="/lessons/new"> Teach a new class</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <h1 class="name-of-person-user-show"> Welcome <%= current_user.first_name %> </h1>
      <div class="profile-page-bookings-user-show mb-3">
        <h3>Achievements</h3>
        <% current_user.milestones.each do |milestone| %>
          <div class="milestone">
            <% if milestone.name == 'one_booking' %>
              <%= image_tag milestone.image, class: 'icon-badge-small' %>
              <div class="mile-tip">You made one booking</div>
            <% elsif milestone.name == 'five_bookings' %>
              <%= image_tag milestone.image, class: 'icon-badge-small' %>
            <% elsif milestone.name == 'three_tasks' %>
              <%= image_tag milestone.image, class: 'icon-badge-small' %>
            <% elsif milestone.name == 'add_lesson' %>
              <%= image_tag milestone.image, class: 'icon-badge-small' %>
            <% elsif milestone.name == 'two_lessons' %>
              <%= image_tag milestone.image, class: 'icon-badge-small' %>
            <% elsif milestone.name == 'receive_first_booking' %>
              <%= image_tag milestone.image, class: 'icon-badge-small' %>
            <% elsif milestone.name == 'leaving_review' %>
              <%= image_tag milestone.image, class: 'icon-badge-small' %>
            <% elsif milestone.name == 'receive_first_review' %>
            <%= image_tag milestone.image, class: 'icon-badge-small' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="profile-page-bookings-user-show">
        <div>
          <p> Your upcoming bookings: </p>
          <% @upcoming_bookings.each do |booking| %>
            <div>
              <h5 class="individual-bookings-user">
                <%= image_tag("icons/#{booking.lesson.instrument}.png") %> You booked a <%= link_to 'lesson', booking_path(booking), class: 'btn-outline' %> with <%= booking.lesson.user.first_name %> on <%= booking.start_date.strftime("%A, %b %d") %> at <%= booking.start_date.strftime("%I:%M %p") %>
              </h5>
            </div>
          <% end %>
        </div>
        <a class="btn btn-nice-dark mt-3" href="/lessons"> Book a new lesson </a>
        <div class="booking-box-user mt-4">
          <p> Your completed bookings: </p>
          <% @completed_bookings.each do |booking| %>
            <div class="mb-3">
              <h5 class="individual-bookings">
                <%= image_tag("icons/#{booking.lesson.instrument}.png") %>  You completed a <%= link_to 'lesson', booking_path(booking), class: 'btn-outline' %> with <%= booking.lesson.user.first_name %>
              </h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
