<div class="content">
  <div class="banner background-image-home">
    <div class="container mt-4">
      <h1 class="home-title" > Poco a Poco </h1>
      <h3>
        <span id="banner-typed-text"></span>
      </h3>
      <a class="banner-btn text-decoration-none" href="/lessons"> Book a class </a>
      <% if current_user %>
        <% if current_user.teacher %>
          <a class="banner-btn text-decoration-none" href="/lessons/new"> Add a class </a>
        <% else %> 
          <p></p>
        <% end %>     
      <% end %>
    </div>
    <div class="home-page-input" style="padding-bottom: 250px;"> <%= render 'shared/lesson_search_form'  %> </div>
  </div>
</div>
<h2 class="mt-3 ml-3">Featured Teachers</h2>
  <div class="cards home-page-grid mt-3 d-flex ml-5">
    <% @lessons.each do |lesson| %>
      <% if lesson.user.photos.attached? %>
        <%= link_to lesson_path(lesson) do %>
          <div class="card-category home-page-card mb-3" id="index" style="background-image: url(<%= cl_image_path lesson.user.photos.first.key %>);">
            <h3 class="card-attribute first_name"><%= lesson.user.first_name %></h3>
            <h4 class="card-attribute rating"><%= lesson.average_rating %></h4>
            <h4 class="card-attribute instrument"><%= lesson.instrument %></h4>

          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


<%= javascript_pack_tag "navbar-scroll" %>
