<div class="content">
  <div class="banner background-image-home">
    <div class="custom-container">
      <h1 class="home-title" > Poco a Poco </h1>
      <h3>
        <span id="banner-typed-text"></span>
      </p>
      <div class="home-buttons">
      <a class="btn btn-nice-dark" href="/lessons"> Book a lesson </a>
      <% if current_user %>

      <% if current_user.teacher %>
        <a class="btn btn-nice-white" href="/lessons/new"> Add a class </a>
         <% else %>
      <% end %>

      <% end %>
      </div>
    </div>
    <div class="home-page-input" style="padding-bottom: 250px;"> <%= render 'shared/lesson_search_form'  %> </div>
  </div>
</div>
<div class="bottom-cards">
  <h2 class="ml-4 mt-3"> Featured Teachers</h2>
  <div class="cards home-page-grid mt-3">
      <div class="index-cards mb-3">
        <div>
          <% if @newest_lesson.user.photos.attached? %>
            <%= link_to lesson_path(@newest_lesson), class: "text-decoration-none text-body" do %>
              <div class="card-category mb-4">
                <%= cl_image_tag @newest_lesson.user.photos.first.key, class: 'card-top-image' %>
                <div class="card-category-infos">
                    <h3><strong><%= @newest_lesson.user.first_name %></strong></h3>
                  <div class="card-category-h4s">
                    <div class="card-attribute-div d-flex align-items-center">
                      <h4 class="card-attribute-description">INSTRUMENT</h4>
                      <h4 class="card-attribute-stat"><strong><%= @newest_lesson.instrument %></strong></h4>
                    </div>
                    <div class="card-attribute-div d-flex align-items-center">
                      <h4 class="card-attribute-description">RATING</h4>
                      <h4 class="card-attribute-stat">
                        <% 5.times do  |int|%>
                        <i class="fas fa-star" style="color: <%= @newest_lesson.average_rating <= int ? "#71677C" : "#FFED99"%>;"></i>
                        <% end %> </h4>
                    </div>
                    <div class="card-attribute-div d-flex align-items-center">
                      <h4 class="card-attribute-description">LEVEL</h4>
                      <h4 class="card-attribute-stat"><strong><%= @newest_lesson.level %></strong></h4>
                    </div>
                    <div class="card-attribute-div d-flex align-items-center">
                      <h4 class="card-attribute-description">PRICE</h4><h4 class="card-attribute-stat"><strong>£<%= @newest_lesson.price %>0</strong></h4></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <% @lessons.each do |lesson| %>
          <div>
              <% if lesson.user.photos.attached? %>
                <%= link_to lesson_path(lesson), class: "text-decoration-none text-body" do %>
                  <div class="card-category mb-4">
                    <%= cl_image_tag lesson.user.photos.first.key, class: 'card-top-image' %>
                    <div class="card-category-infos">
                        <h3><strong><%= lesson.user.first_name %></strong></h3>
                      <div class="card-category-h4s">
                        <div class="card-attribute-div d-flex align-items-center">
                          <h4 class="card-attribute-description">INSTRUMENT</h4>
                          <h4 class="card-attribute-stat"><strong><%= lesson.instrument %></strong></h4>
                        </div>
                        <div class="card-attribute-div d-flex align-items-center">
                          <h4 class="card-attribute-description">RATING</h4>
                          <h4 class="card-attribute-stat">
                          <% 5.times do |int|%>
                            <i class="fas fa-star" style="color: <%= lesson.average_rating <= int ? "#71677C" : "#FFED99"%>;"></i>
                          <% end %> </h4>
                        </div>
                        <div class="card-attribute-div d-flex align-items-center">
                          <h4 class="card-attribute-description">LEVEL</h4>
                          <h4 class="card-attribute-stat"><strong><%= lesson.level %></strong></h4>
                        </div>
                        <div class="card-attribute-div d-flex align-items-center">
                          <h4 class="card-attribute-description">PRICE</h4><h4 class="card-attribute-stat"><strong>£<%= lesson.price %>0</strong></h4>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

  </div>
<%= javascript_pack_tag "navbar-scroll" %>
