  <div class="info-and-cards">
    <div class="search-info">
      <h1>Lessons in "Location</h1>
    </div>
    <%= render "shared/lesson_search_form" %>
    <div class="cards">
      <%= @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson) do %>
        <div class="index-card"></div>
          <%#= if lesson.photos.attached? %>
          <%#= cl_image_tag(lesson.photos.first.key) %>
        <%# else %>
          <%#= cl_image_tag("https://res.cloudinary.com/dbe4hul9k/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1622714025/lessonbusters-logo_cqzclk.jpg") %>
        <%# end %>
          <%= image_tag("logo.jpeg") %>
        <div class="card-trip-infos">
            <div>
              <h3><%= lesson.user.first_name %></h3>
              <%= users.reviews.rating.all do |rat| %>
                <%= total_rating = 0 %>
                <%= total_rating += rat %>
                <%= average_rating = total_rating / rating.count %>
                <%= end %>
              <h3>Rating: <%= average_rating %></h3>
              <h3><%= lesson.instrument %></h3>
              <h3><%= lesson.price %></h3>
              <!-- <p> <%#= lesson.description  %> </p> -->
            </div>
          <h2 class="card-trip-pricing">€<%= lesson.price%></h2>
        </div>
     <% end %>
    <% end %>
    </div>
  </div>
  <div id="map"
    style= "height: 100vh; width: 700px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
