    <div class="search-info">
      <h1>Lessons in "Location</h1>
      <!-- <%#= render "shared/lesson_search_form" %> -->
    </div>

    <div class="info-and-cards d-flex ml-3 mr-3">
      <div class="cards mt-5 mr-3">
        <% @lessons.each do |lesson| %>
        <% if lesson.user.photos.attached? %>
            <%= link_to lesson_path(lesson) do %>
              <div class="card-category mb-3" id="index" style="background-image: url(<%= cl_image_path lesson.user.photos.first.key %>);">
                <h3 class="card-attribute first_name"><%= lesson.user.first_name %></h3>
                <% lesson.user.photos.each do |photo| %>

                <% end %>
                <h4 class="card-attribute rating"><%= lesson.average_rating %></h4>
                <h4 class="card-attribute instrument"><%= lesson.instrument %></h4>
                <h4 class="card-attribute level"><%= lesson.level %></h4>
                <h4 class="card-attribute price">£<%= lesson.price %></h4>

              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <div id="map"
      style= "height: 100vh; width: 700px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>