<div id="background-color">
  <div class="container-show">
    <% if current_user == @lesson.user %>
    <% @lesson.user.photos.each do |photo| %>
    <div class="image-show">
      <%= cl_image_tag photo.key, crop: :fill, width: 300, style: "border-radius: 8px"%>
    </div>
    <% end %>
    <h1> <%= @lesson.instrument %> </h1>
    <h2> <%= @lesson.price %> </h2>
    <h2> <%= @lesson.level %> </h2>
    <h2> <%= @lesson.location %> </h2>
    <%= link_to 'Your home page', user_path(current_user), class: 'btn btn-outline-success' %>
    <%= link_to 'Add another lesson', new_lesson_path, class: 'btn btn-outline-success' %>
    <%= link_to 'Book a class', lessons_path, class: 'btn btn-outline-success' %>
    <% else  %>
    <!-- <div class="d-flex justify-content-between"> -->
      <!-- <div class="d-flex justify-content-around"> -->

          <!-- <div class="d-flex flex-column justify-content-around"> -->
            <h1 class="name-of-person"> <%= @lesson.user.first_name%>  <%=  @lesson.user.last_name %> </h1>
          <!-- </div> -->
        <!-- </div> -->
  </div>
        <div class="profile-card-info">
          <%# want the first h3 to show an icon with a colour changing circular border, that is based on level %>
          <% @lesson.user.photos.each do |photo| %>
          <div class="image-show">
            <%= cl_image_tag photo.key %>
          </div>
          <% end %>
          <div class="content-lesson-card">
            <h4 class="bio">Bio</h4>
          <p style="width: 400px"> <%= @lesson.user.bio %> </p>
          <div class="icon-image">
          <%= image_tag("icons/#{@lesson.instrument}.png") %>
        </div>
          <h3> £<%= @lesson.price %>0/hour </h3>
          <h3> <%= @lesson.level %> </h3>
          <h3> <%= @lesson.location %> </h3>
        </div>
        </div>
      <!-- </div> -->

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="booking-form-show">
        <h3> Book a lesson</h3>
        <%= simple_form_for [@lesson, @booking] do |f| %>
        <div class="form-input-start">
        <%= f.input :start_date, as: :datetime, required: false, html5:true, label: false  %>
      </div>
      <div class="form-input-end">
        <%= f.input :end_date, as: :datetime, required: false, html5:true, placeholder: 'End Time', label: false %>
      </div>
        <%= f.submit class: 'btn btn-outline-dark' %>
        <% end %>
        <%# <%= link_to 'Your home page', user_path(current_user), class: 'btn btn-primary' %>
      </div>

      <% end %>


  <div class="review-show">
    <h1>Reviews</h1>
    <% if @reviews.any? %>
    <% @reviews.each do |review| %>
    <div  container>
      <div class="review-stars">
      <p> <% review.rating.to_i.times do %> </p>
      <i class="far fa-star"></i>
      <% end %>
    </div>
      <p> <%= review.comment %></p>
      <% end %>
    </div>
    <% else %>
    <p> <%= @lesson.user.first_name %> does not have any reviews</p>
    <% end %>
 </div>
<br>
<br>
    <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
</div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
