<div class="container-user-show cover-photo-underlay">

</div>
<div class="cover-photo-spacer">

</div>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <% if current_user == @lesson.user %>
          <div class="profile-card-info">
            <% @lesson.user.photos.each do |photo| %>
              <div class="image-show">
                <%= cl_image_tag photo.key %>
              </div>
            <% end %>
             <div class="content-lesson-card">
              <h4 class="bio">Price</h4>
              <p> £<%= @lesson.price %>0/hour </p>
              <div class="icon-image">
                <%= image_tag("icons/#{@lesson.instrument}.png") %>
              </div>

              <h3> <%= @lesson.level %> </h3>
              <h3> <%= @lesson.location %> </h3>
            </div>
            <div class="your-class-buttons-area mb-3">
              <%= link_to 'Your home page', user_path(current_user), class: 'btn btn-nice-green' %>
              <%= link_to 'Add another lesson', new_lesson_path, class: 'btn btn-nice-dark' %>
            </div>
          </div>
        <% else  %>
          <div class="profile-card-info">
            <% @lesson.user.photos.each do |photo| %>
              <div class="image-show">
                <%= cl_image_tag photo.key %>
              </div>
            <% end %>
            <div class="content-lesson-card">
              <h4 class="bio">Bio</h4>
              <p> <%= @lesson.user.bio %> </p>
              <div class="icon-image">
                <%= image_tag("icons/#{@lesson.instrument}.png") %>
              </div>
              <p> <%= "#{@lesson.instrument}" %> </p>
              <p> £<%= @lesson.price %>0/hour </p>
              <p> <%= @lesson.level %> </p>
              <p> <%= @lesson.location %> </p>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-7">
        <h1 class="name-of-person"> <%= @lesson.user.first_name%>  <%=  @lesson.user.last_name %> </h1>
        <% unless current_user == @lesson.user %>
          <div class="booking-form-show">
            <h3> Book a lesson</h3>
            <%= simple_form_for [@lesson, @booking] do |f| %>
              <div class="form-input-start">
                <%= f.input :start_date, as: :datetime, required: false,html5:true,label: false, input_html: {class: "datepicker", placeholder: "Start Date"}  %>
              </div>
              <div class="form-input-end">
                <%= f.input :end_date, as: :datetime, required: false, html5:true, label: false, input_html: {class: "datepicker", placeholder: "End Date"}%>
              </div>
              <%= f.submit class: 'btn btn-nice-green w-100' %>
            <% end %>
            <%# <%= link_to 'Your home page', user_path(current_user), class: 'btn btn-primary' %>
          </div>
        <% end %>
        <div class="review-show">

          <h3 class="review-h1 mt-4">Reviews</h3>
          <% if @reviews.any? %>

            <% @reviews.each do |review| %>

              <div class="review-show-card-2 d-flex flex-column">
                <div class="review-stars">
                  <p> <% review.rating.to_i.times do %> </p>
                    <i class="fas fa-star" style="color: #FFED99;"></i>
                  <% end %>
                </div>
                <div class="review-comment">
                  <p class="mb-0"> <%= review.comment %></p>
                  <div class="avatar-n-name">
                    <p><%= review.booking.user.first_name %></p>
                    <%= cl_image_tag review.booking.user.photos.first.key, class: "avatar-large-reviews mb-2" %>
                  </div>
                </div>
              </div>

            <% end %>
          <% else %>
            <p> <%= @lesson.user.first_name %> does not have any reviews</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
